@font-face {
    font-family: font1; /* Declaración de una fuente personalizada llamada "font1" */
    src: url(letras/1.ttf); /* Ruta de la fuente personalizada */
  }
  
  * {
    font-family: font1; /* Aplicar la fuente personalizada a todos los elementos */
    text-shadow: 1px 1px #000000; /* Agregar sombra de texto a todos los elementos */
  }
  
  body {
    overflow: hidden; /* Ocultar barras de desplazamiento horizontal y vertical en el cuerpo del documento */
  }
  
  .container {
    /* Estilos del contenedor */
    position: absolute;
    left: 0.3vw;
    top: 35vw;
    height: 7px;
    padding: 0.7vw;
    max-width: 45vw;
    transform: translateY(-50%);
    background: linear-gradient(rgba(12, 82, 233, 0.93), rgba(12, 0, 175, 0.93));
    /* Degradado de azules en el fondo del contenedor */
    box-shadow: 0 0 10px rgb(12, 0, 175); /* Sombra alrededor del contenedor */
    line-height: 7.8px;
    border-radius: 10px; /* Bordes más curvos */
    color: rgb(255, 255, 255); /* Color de texto */
    text-align: center; /* Alinear el texto al centro */
    font-size: 13px; /* Tamaño de fuente */
    padding-top: 13px;
    padding-bottom: 13px;
  }
  
  .INPUT_CONTEXT {
    /* Estilos de los contextos de entrada */
    border-radius: 0.15vw;
    background-color: #ccc;
    padding: 0.4px 0.3vw;
    color: #000000;
    text-shadow: 0 0 0vw #000000;
    font-weight: bolder;
  }
  
  .container-show {
    /* Animación para mostrar el contenedor */
    animation: show 0.5s ease-in-out forwards;
  }
  
  .container-hide {
    /* Animación para ocultar el contenedor */
    animation: leave 0.5s ease-in-out forwards;
  }
  
  @keyframes show {
    /* Animación para mostrar el contenedor */
    from {
      opacity: 0;
      transform: translateX(800px) translateY(0vw) scale(0.5);
    }
  }
  
  @keyframes leave {
    /* Animación para ocultar el contenedor */
    to {
      opacity: 0;
      transform: translateX(500%) translateY(0vw) scale(0.5);
    }
  }
  